doctype html
html(lang='en')
  head
    title #{title}
    meta(charset='UTF-8')
    meta(name='description' content='Group 9 assignment about Boba Review')
    meta(name='keywords' content='MongoDB Express')
    meta(name='author' content='Group 9')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/javascripts/home_script.js')

  block content
